@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;600;700&display=swap');

@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/grid";

@import "colors";

$maxwidth: 1200px;
$rootsize: 20px;
$fontsize: $rootsize;

body {
    background-color: $legoyellow;
    background-image: url('images/mainbackground.png');
    font-family: 'Rubik', sans-serif;
    font-size: $rootsize;
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;

    .container {
        width: 100%;
        max-width: $maxwidth;
        margin: 0 auto;
        background-color: $legowhite;
        overflow: hidden;
        position: relative;

        header {
            display: flex;
            justify-content: space-between;
            padding: 1rem;

            a {
                width: 100%;
                max-width: 250px;

                img {
                    width: 100%;
                    height: auto;
                    object-fit: contain;
                }
            }     
            #cart {
                position: relative;
                width: 100%;
                max-width: 50px;

                .label {
                    width: 2rem;
                    height: 2rem;
                    border-radius: 50%;
                    text-align: center;
                    color: $legowhite;
                    background-color: $legored;
                    position: absolute;
                    top: -1.3rem;
                    left: -1.3rem;
                    box-sizing: border-box;
                    padding-top: 5px;
                } 
            }
            #cartview {
                background: $legoblack;
                border-left: .5rem solid $legogreen;
                border-bottom: .5rem solid $legogreen;
                color: $legowhite;
                padding: 1rem;
                position: absolute;
                right: 0;
                top: 70px;
                min-height: 100px;
                width: 100%;
                max-width: 500px;
                box-sizing: border-box;
                transition: ease-in-out .4s;

                ul {
                    list-style-type: none;
                    padding: 0;
                }
                li {
                    width: 100%;
                    display: flex;
                    clear: both;
                    padding-bottom: .5rem;
                    border-bottom: 1px solid $legogreen;
                    margin-bottom: .5rem;
                    transition: ease-in-out .7s;
                }
                span {
                    display: inline-block;
                    box-sizing: border-box;
                }
                .title {
                    width: calc(100% - 11rem);
                }
                .price {
                    width: 2rem;
                }
                .quantity {
                    display: flex;
                    margin: 0 .5rem;

                    button {
                        font-size: 1.5rem;
                    }
                    input {
                        width: 2rem;
                        font-size: 1rem;
                        font-family: 'Rubik', sans-serif;
                        text-align: center;
                    }
                }
                .delete {
                    width: 2rem;
                    height: 2rem;
                    background: $legored;
                    border-radius: 50%;
                    color: $legowhite;
                    text-align: center;
                    padding-top: 5px;
                }
            }
            .hidden {
                visibility: hidden;
                opacity: 0;
            }
        }

        nav {
            width: 100%;
            background-color: $legored;
            display: flex;

            a {
                color: $legowhite;
                text-decoration: none;
                padding: .5rem 1rem;
                border-bottom: 5px solid $legored;
                display: inline-block;
                text-transform: uppercase;
                transition: ease-in-out .4s;

            }
            a:hover {
                color: $legoyellow;
                border-color: $legoyellow;
            }
            .active {
                background-color: $legoyellow;
                border-color: $legoblack;
                color: $legoblack;
            }
            .active:hover {
                color: $legored;
            }
        }

        main{
            #product-list {
                display: flex;
                flex-wrap: wrap;
                padding: 0 1rem;
                justify-content: space-between;
            }
            h2 {
                width: 100%;
                display: block;
                text-align: center;
                text-transform: uppercase;
            }
            article.product-card {
                background: $legoblack;
                border-bottom: 1rem solid $legogreen;
                width: 31%;
                overflow: hidden;
                padding: 1rem;
                box-sizing: border-box;
                color: $legowhite;
                margin-bottom: 2rem;

                > * {
                    display: block;
                    clear: both;
                }
                img {
                    width: 100%;
                }
                a {
                    color: $legoyellow;
                    padding: .5rem 0;
                    text-decoration: none;
                }
                h3 {
                    margin: .2rem 0 .5rem 0;
                    text-transform: uppercase;
                }
                button {
                    background: $legogreen;
                    color: $legowhite;
                    font-family: 'Rubik', sans-serif;
                    border: none;
                    padding: .5rem 1rem;
                    font-size: 1rem;
                }
            }
            article.product-card button[disabled], 
            article.product-card button:disabled {
            background-color: #ccc;
            }
        }
    }
}

    
    

        
            
    
    